.*
*.log
build/
bower_components/
components/
coverage/
node_modules/
build-data.js
build-supported-words.js
test.js
bower.json
component.json
History.md
Supported-profanities.md
data/profanities.txt
